*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.games{
	display: block;
}
.games h2{font-family: Arial; font-style: Bold; color: white; padding: 20px 20px;}

.sqhead{
	display: flex;
	background-color: #212121;
	height: 300px;
	width: 100%;
}
.game1icon{
	padding:20px 20px;
	background-color: #17202A;
}
.game1icon h3{
	color: white;
	font-family: Arial;
	text-decoration: underline;
}

.sqIcon{
	padding-top: 20px;
}
#playButton a{
	color:white;
	font-family: Arial;
	text-align: center;
}
.gameDisplay{
	display: flex;
	justify-content: center;
	height:300px;
	width: 840px;
	background-color: black;
}
.gameDisplaysub{
	display: flex;
	
}
.gameDisplaysub img{
	cursor:pointer;
	padding:15px;
}

.pihead{
	margin-top: 60px;
	display: flex;
	height: 300px;
	width: 100%;
	background-color: #212121;
}
.game2icon{
	padding:20px 20px;
	background-color: #17202A;
}
.game2icon h3{
	color: white;
	font-family: Arial;
	text-decoration: underline;
}
.piIcon{
	padding-top: 20px;
}
.game2Displaysub img{
	cursor:pointer;
}

.game2Display{
	display: flex;
	justify-content: center;
	height:300px;
	width: 840px;
	background-color: black;
}
.ptoz{
	display: flex;
	background-color: #212121;
	height: 200px;
	width: 100%;
}
.game3icon{
	padding:20px 20px;
	background-color: #17202A;
}
.game3icon h3{
	color: white;
	font-family: Arial;
	text-decoration: underline;
}

.ptozIcon{
	padding-top: 20px;
}
#playB a{
	color:white;
	font-family: Arial;
	text-align: center;
}
.game3template{
	padding:60px 100px;
}
.game3Display{
	display: flex;
	background-color: #FFBF00;
	
}

