*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
div.PP {
	width: 1000px;
	height: 1080px;
	overflow-y: scroll;
}

.PP{
	display:flex;
	padding-top:60px;
	flex-direction: column;
}

.PP h2, h1, h3, li{
	font-family: Arial;
	color: white;
}
.PP p{
	padding-top:20px;
	font-family: Arial;
	color: white;
}


