*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.PP{
	display:flex;
	padding:60px 120px;
	flex-direction: column;
}

.PP h2, h1, h3, h4, p{
	font-family: Arial;
	color: white;
	padding-top:20px;
}

.PP li{
	padding-top:10px;
	padding-left: 20px;
	font-family: Arial;
	color: white;
}


